pandas==1.5.2
prefect==2.10.2
prefect-gcp[cloud_storage]==0.4.0
protobuf==4.21.11
pyarrow==10.0.1
pandas-gbq==0.18.1
psycopg2-binary==2.9.5
sqlalchemy==1.4.46
numba==0.56.4
scipy==1.10.1
scikit-learn==1.2.2
tqdm==4.65.0